extends layout

block content
	.container
		.col-lg-12
			h1.text-center Buy bikes with iDeal

		ul.list-unstyled.bike-list.row
			li.col-lg-3.col-sm-4.col-xs-6
				a(href='/create?amount=60')
					h2 Bike 1
					img.img-responsive(src='/images/bike1.png', height='130px')
			li.col-lg-3.col-sm-4.col-xs-6
				a(href='/create?amount=100')
					h2 Bike 2
					img.img-responsive(src='/images/bike2.png', height='130px')
			li.col-lg-3.col-sm-4.col-xs-6
				a(href='/create?amount=600')
					h2 Bike 3
					img.img-responsive(src='/images/bike3.png', height='130px')











